<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" 
        <%if @profile.picture.attached?%>
            <%=image_tag @profile.picture, alt: @profile.username, class:"thumbnail card-img top"%>
        <%else%>
            <%=image_tag ("profile-img.jpg"), class:"thumbnail card-img top"%>
        <%end%>
        <span class="font-weight-bold"><%=@profile.username%></span><span class="text-black-50"><%=current_user.email%></span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Address Line 1:<%=@profile.address%></div>
                    <div class="col-md-12"><label class="labels">Address Line 2:</label><%=@profile.address2%></div>
                    <div class="col-md-12"><label class="labels">Postcode:</label><%=@profile.zip%></div>
                    <div class="col-md-12"><label class="labels">State:</label><%=@profile.state%></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country:</label><%=@profile.country%></div>
                </div>
                <div class="mt-5 text-center"><%= link_to "Update Profile", "/profiles/:id/edit", class: "mt-auto btn btn-warning"%></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="mt-5 text-center"><%= link_to "View marketplace", "/items/index", class: "mt-auto btn btn-primary"%></div>
                <div class="mt-5 text-center"><%= link_to "View Your Items", "/items/users_items", class: "mt-auto btn btn-primary"%></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>