<h1>Purchase <%=@item.name%></h1>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" 
            <%=image_tag @item.picture, alt: @item.name, class:"thumbnail card-img top"%>
        <span class="font-weight-bold"><%=@item.name%></span><span class="text-black-50">Seller: <%=@item.user.email%></span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Item Details</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Name: <%=@item.name %></div>
                    <div class="col-md-12"><label class="labels">Condition: </label><%=@item.condition %></div>
                    <div class="col-md-12"><label class="labels">Price: <%=@item.price %></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <%if current_user && current_user.id == @item.user_id%>
                    <%= link_to "Edit", edit_item_path, class: "mt-auto btn btn-warning"%>
                    <a href="/items/index" class="mt-auto btn btn-info">Return to Marketplace</a>
                <%else%>
                    <a href="/items/index" class="mt-auto btn btn-info">Return to Marketplace</a>
                    <a href="/purchase/user/<%=current_user.id%>" class="mt-auto btn btn-primary">Buy now</a>
                <%end%>
            </div>
        </div>
    </div>
</div>
</div>
</div>