<h1 class="p-5 text-light shadow-1-strong rounded mb-3">Listed Items</h1>

    <div class="p-1 text-light text-center shadow-1-strong rounded mb-1">
        <h3>Back to All items</h3>
            <a href="/items/index"class="btn btn-danger btn-lg">Back</a>
    </div>

<div class="container">
    <div class= "row row-cols-sm-1 row-cols-ms-2 row-cols-lg-4">
        <%# making each card for total Items that are held within the database using bootstrap for styling and positioning%>
            <%=@item.each do |item|%>
            <div class="col-4 ">
                <%if item.picture.attached?%>
                    <%=image_tag item.picture, alt: item.name, class:"thumbnail card-img top"%>
                <%else%>
                    <%=image_tag "dice-img.jpg", alt: "dice", class:"thumbnail card-img top"%>
                <%end%>
        <div class="card-body mb-3 bg-light">
            <h5 class="card-title"><%=item.name%></h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Condition: <%=item.condition%></li>
                    <li class="list-group-item">Price: <%=item.price%></li>    
                </ul>
                <%if current_user && current_user.id%>
                    <div class="card-body mb-3 bg-light">
                        <a href="/items/<%=item.id%>"class="mt-auto btn btn-warning">View</a>
                    </div>
                <%else%>
                    <div class="card-body mb-3 bg-light">
                        <a class="btn btn-success" <%= link_to "Sign Up to Buy", new_user_registration_path, class: "nav-link"%></a>
                    </div>
                <%end%>
            </div>
        </div>
    <%end%>
</div>

