<h1>Order history</h1>

<div class="container">
    <div class= "row row-cols-sm-1 row-cols-ms-2 row-cols-lg-4">
    <%# making each card for total Items that are held within the database using bootstrap for styling and positioning%>
        <%@items.each do |item|%>
        <div class="col-4 ">
        <%if item.picture.attached?%>
            <%=image_tag item.picture, alt: item.name, class:"thumbnail card-img top"%>
        <%else%>
            <%=image_tag "dice-img.jpg", alt: "dice", class:"thumbnail card-img top"%>
        <%end%>
        
        <div class="card-body">
        <h5 class="card-title"><%=item.name%></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Condition: <%=item.condition%></li>
            <li class="list-group-item">Price: <%=item.price%></li>    
        </ul>
        <div class="card-body">
            <a href="/items/<%=item.id%>"class="mt-auto btn btn-warning">View</a>
        </div>
        </div>
        <%end%>
    </div>
</div>